{{#ui-fieldset as |fs|}}
  <div class="form-name
              {{if fs.states.focus 'form-name--active'}}
              {{if (and hasValue (not fs.states.focus)) 'form-name--show-value'}}">
    <div class="form-name--label" {{action "focusIn"}}>
      Full Name
    </div>
    <div class="form-name--fields form-name--fields-flex">
      {{#fs.field as |f|}}
        {{#f.label}}
          First Name
        {{/f.label}}
        {{f.input value=firstName}}
      {{/fs.field}}

      {{#fs.field as |f|}}
        {{#f.label}}
          MI
        {{/f.label}}
        {{f.input value=middleName}}
      {{/fs.field}}

      {{#fs.field as |f|}}
        {{#f.label}}
          Last Name
        {{/f.label}}
        {{f.input value=lastName}}
      {{/fs.field}}
    </div>
    <div class="form-name--value"  {{action "focusIn"}}>
      {{#fs.field as |f|}}
        {{#f.label}}
          Full Name
        {{/f.label}}
        {{firstName}} {{middleName}} {{lastName}}
      {{/fs.field}}
    </div>
  </div>
{{/ui-fieldset}}
