{{#ui-fieldset as |fs|}}
  <div class="form-name
              {{if fs.states.focus 'form-name--active'}}
              {{if (and hasValue (not fs.states.focus)) 'form-name--show-value'}}">
    <div class="form-name--label" {{action "focusIn"}}>
      Home Address
    </div>
    <div class="form-name--fields form-name--fields-flex">
      {{#fs.field as |f|}}
        {{#f.label}}
          Home Address
        {{/f.label}}
        {{f.input type="email" value=street}}
      {{/fs.field}}

      {{#fs.field as |f|}}
        {{#f.label}}
          Apt Site (Optional)
        {{/f.label}}
        {{f.input type="email" value=suite}}
      {{/fs.field}}

      {{#fs.field as |f|}}
        {{#f.label}}
          Zip Code
        {{/f.label}}
        {{f.input type="email" value=zip}}
      {{/fs.field}}

      {{#fs.field as |f|}}
        {{#f.label}}
          City
        {{/f.label}}
        {{f.input type="email" value=city}}
      {{/fs.field}}

      {{#fs.field as |f|}}
        {{#f.label}}
          State
        {{/f.label}}
        {{f.input type="email" value=state}}
      {{/fs.field}}
    </div>
    <div class="form-name--value"  {{action "focusIn"}}>
      {{#fs.field as |f|}}
        {{#f.label}}
          Home Address
        {{/f.label}}
        {{suite}} {{street}} <br />
        {{city}} {{state}} {{zip}}
      {{/fs.field}}
    </div>
    <div class="form-name--tooltip">
      {{#ui-tooltip as |tooltip|}}
        {{#tooltip.target}}
          <div class="form-name--tooltip--target">
            ?
          </div>
        {{/tooltip.target}}
        {{#tooltip.popup attachment='middle left' targetAttachment='middle right'}}
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent lacinia ipsum quis risus finibus, in luctus arcu molestie. Suspendisse tincidunt urna odio, id iaculis nisi cursus gravida. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac <a href="#">turpis egestas</a>.
        {{/tooltip.popup}}
      {{/ui-tooltip}}
    </div>
  </div>
{{/ui-fieldset}}
