<label {{ui-root}}
  onmouseenter={{action action.onMouseEnter}}
  onmouseleave={{action action.onMouseLeave}}
  class="{{ui-state states 'disabled' 'enabled' 'checked' 'error'}}"
>
  {{input
    class="input"
    type="checkbox"
    checked=value
    focusIn=action.onFocusIn
    focusOut=action.onFocusOut
    disabled=states.disabled}}

  <div class="component {{ui-state states 'checked' 'disabled' 'enabled' 'error' 'focused' el='component'}}">
    <div class="component-wrapper {{ui-state states 'checked' 'disabled' el='component-wrapper'}}">
      <div class="component-icon {{ui-state states 'checked' 'disabled' 'enabled' 'focused' 'hover' el='component-icon'}}"></div>
    </div>
  </div>

  {{yield}}
</label>

{{#if states.error.message}}
  {{#ui-message kind="input-error" size="small"}}
    {{states.error.message}}
  {{/ui-message}}
{{/if}}
