{{#ui-ripple as |ripple|}}
  <button {{ui-root}}
    {{action action.onclick}}
    disabled={{isDisabled}}
    class="{{ui-state states 'active' 'focus' 'disabled' 'loading'}}">
      <div class="label">
        {{yield}}
      </div>
      {{ripple.animation}}
  </button>
{{/ui-ripple}}
