<div class="ui-demo">
  {{#ui-panel as |p|}}
    {{#p.titlebar}}{{demoComponent.name}}{{/p.titlebar}}

    {{#p.content}}
      <div class="ui-demo--modifiers">
        {{#ui-button-group size="x-small" as |group|}}
          {{#each demoComponent.kinds as |kind|}}
            {{#group.button active=(eq currentKind kind) onclick=(action "setKind" kind)}}
              {{kind}}
            {{/group.button}}
          {{/each}}
        {{/ui-button-group}}
        &nbsp;
        {{#ui-button-group size="x-small" as |group|}}
          {{#each-in uiStates as |_ state|}}
            {{#group.button active=(get activeStates state.name) onclick=(action "setState" state.name)}}
              {{state.name}}
            {{/group.button}}
          {{/each-in}}
        {{/ui-button-group}}
      </div>

      {{#each sizes as |size|}}
        {{component demoComponentToRender
          componentBeingDemoed=demoComponent.name
          kind=currentKind
          activeStates=activeStates
          size=size
          action=(hash alert=(action "alert"))
        }}
      {{/each}}

      {{code-snippet name=(concat "demo--" demoComponent.name ".hbs")}}
    {{/p.content}}
  {{/ui-panel}}
</div>
