<div class="ui-demo">
  {{#ui-panel as |p|}}
    {{#p.titlebar}}{{demoComponent.name}}{{/p.titlebar}}

    {{#p.content}}
      {{#if false}}
      <div class="ui-demo--modifiers">
        {{#ui-button-group size="x-small" as |group|}}
          {{#each demoComponent.kinds as |kind|}}
            {{#group.button active=(eq currentKind kind) onclick=(action "setKind" kind)}}
              {{kind}}
            {{/group.button}}
          {{/each}}
        {{/ui-button-group}}
        &nbsp;
        {{#ui-button-group size="x-small" as |group|}}
          {{#each demoComponent.states as |state|}}
            {{#group.button active=(get activeStates state) onclick=(action "setState" state)}}
              {{state}}
            {{/group.button}}
          {{/each}}
        {{/ui-button-group}}
      </div>
      {{/if}}

        {{component demoComponentToRender
          componentBeingDemoed=demoComponent.name
          action=(hash alert=(action "alert"))
        }}

      {{code-snippet name=(concat "demo--" demoComponent.name ".hbs")}}
    {{/p.content}}
  {{/ui-panel}}
</div>
