<div
  id={{generatedId}}
  class=":component {{classes.class}} {{classes.size}} {{ui-state states 'collapsed' 'hover'}}"
  onmouseenter={{action action.mouseEnter}}
  onmouseleave={{action action.mouseLeave}}
>
  {{yield (hash
    link-to=(component "link-to"
      class=(-ui-component-class
        (concat
          ":component "
          classes.class " "
          classes.size " "
          (ui-state states "collapsed" "hover")
        )
        prefix=(concat "ui-menu---item--" kind "--link-to")
      )
    )
    sub-menu=(component "ui-menu"
      active=states.active
      kind="sub-menu"
      targetId=(concat "#" generatedId)
    )
  )}}
</div>
